USE [master]
GO
/****** Object:  Database [ENVN]    Script Date: 6/16/2015 10:11:50 PM ******/
CREATE DATABASE [ENVN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ENVN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER2K12\MSSQL\DATA\ENVN.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ENVN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER2K12\MSSQL\DATA\ENVN_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ENVN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ENVN]
GO
/****** Object:  Table [dbo].[Classe]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classe](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[Teachers] [nvarchar](300) NOT NULL,
	[CourseID] [int] NOT NULL,
	[ThematicID] [int] NOT NULL,
	[TimeTableID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[Status] [int] NULL,
	[DurationOfStudies_Hour] [int] NOT NULL,
	[Fees] [int] NOT NULL,
 CONSTRAINT [PK__Classe__CB1927A097BD30B1] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](150) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK__Course__C92D7187754FF906] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Coefficient] [int] NULL,
 CONSTRAINT [PK__Employee__7AD04FF12B8C18F3] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Employee__1788CCADC786F7D7] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Examination]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examination](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[ExamFees] [int] NOT NULL,
	[ExamStatus] [int] NULL,
	[ExamRoom] [nvarchar](10) NOT NULL,
	[Notes] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionID] [int] NOT NULL,
	[Policy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegistrationInfomation]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationInfomation](
	[RegisID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ThematicID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[RegisTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thematic]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thematic](
	[ThematicID] [int] IDENTITY(1,1) NOT NULL,
	[ThematicName] [nvarchar](60) NULL,
	[ManagerID] [int] NULL,
	[ContentDescription] [ntext] NULL,
	[Trainers] [ntext] NULL,
	[Documents] [ntext] NULL,
	[TinyDes] [ntext] NULL,
 CONSTRAINT [PK__Thematic__13327CEE5F0C9DB2] PRIMARY KEY CLUSTERED 
(
	[ThematicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeTable]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeTable](
	[TimeTableID] [int] IDENTITY(1,1) NOT NULL,
	[Details] [nvarchar](2000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Pwd] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](80) NOT NULL,
	[DOB] [date] NOT NULL,
	[Addr] [nvarchar](150) NOT NULL,
	[PhoneNumber] [char](15) NOT NULL,
	[PermissionID] [int] NOT NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_Examination]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Examination](
	[UserID] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
	[Mark] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserFeedback]    Script Date: 6/16/2015 10:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFeedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Comment] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Classe]  WITH CHECK ADD  CONSTRAINT [FK__Classe__CourseID__1CF15040] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Classe] CHECK CONSTRAINT [FK__Classe__CourseID__1CF15040]
GO
ALTER TABLE [dbo].[Classe]  WITH CHECK ADD  CONSTRAINT [FK__Classe__Thematic__1DE57479] FOREIGN KEY([ThematicID])
REFERENCES [dbo].[Thematic] ([ThematicID])
GO
ALTER TABLE [dbo].[Classe] CHECK CONSTRAINT [FK__Classe__Thematic__1DE57479]
GO
ALTER TABLE [dbo].[Classe]  WITH CHECK ADD  CONSTRAINT [FK__Classe__TimeTabl__1ED998B2] FOREIGN KEY([TimeTableID])
REFERENCES [dbo].[TimeTable] ([TimeTableID])
GO
ALTER TABLE [dbo].[Classe] CHECK CONSTRAINT [FK__Classe__TimeTabl__1ED998B2]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Usr] FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Emp_Usr]
GO
ALTER TABLE [dbo].[RegistrationInfomation]  WITH CHECK ADD  CONSTRAINT [FK__Registrat__Class__24927208] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classe] ([ClassID])
GO
ALTER TABLE [dbo].[RegistrationInfomation] CHECK CONSTRAINT [FK__Registrat__Class__24927208]
GO
ALTER TABLE [dbo].[RegistrationInfomation]  WITH CHECK ADD  CONSTRAINT [FK__Registrat__Thema__239E4DCF] FOREIGN KEY([ThematicID])
REFERENCES [dbo].[Thematic] ([ThematicID])
GO
ALTER TABLE [dbo].[RegistrationInfomation] CHECK CONSTRAINT [FK__Registrat__Thema__239E4DCF]
GO
ALTER TABLE [dbo].[Thematic]  WITH CHECK ADD  CONSTRAINT [FK_Themaic_Employee] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Thematic] CHECK CONSTRAINT [FK_Themaic_Employee]
GO
ALTER TABLE [dbo].[User_]  WITH CHECK ADD FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permission] ([PermissionID])
GO
ALTER TABLE [dbo].[UserFeedback]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
GO
USE [master]
GO
